.wrap
    {
        border: 600px;
        background: grey;

    }
body{
    font-family:sans-serif;
    width: 600px;

}
blockquote
{
    border: 1px solid grey;
    width: 600px;
    text-align: center;
    margin-left:0;
}